<div class="static-box">

    <div class="upper-box">
        <div class="box-info">
            <h3>TLE</h3>
            <span>Space-Track.org</span>
        </div>
        <div class="box-info">
            <h3>2h</h3>
            <span>ago</span>
        </div>
    </div>

    <div class="bottom-box">
        <span>1 47959U 21022AD 24036.16099952 .00016110 00000-0 74679-3 0 9992</span>
        <span>2  47959 97.4764 295.5541 0013828 242.9303 117.0521 15.20068281157169</span>
    </div>

</div>