.container
{
    height: calc(100% - 4rem);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-weight: 700;
}

.container svg
{
    height: 4rem;
    width: 4rem;
}

.line-icon
{
    animation: line 5s infinite linear; 
    padding-right: 1rem;
}

.text
{
  display: flex;
  flex-direction: column;
}

@keyframes line {
    0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}