<div class="table-row" routerLink="/observation">
    <span class="id-column font-bold">{{observationId}}</span>
    <div class="central-table">
        <span class="column font-bold">{{satellite}}</span>
        <div class="column status-column">

            <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                <g clip-path="url(#clip0_1_1357)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.62347 14.6667V14.6756C1.6215 14.6756 0 16.5054 0 18.3387C0 20.172 1.81173 22 3.62347 22C5.62545 22 7.24698 20.172 7.24698 18.3387V18.3333C7.24698 16.3075 5.62545 14.6667 3.62347 14.6667ZM3.62347 7.33333V11C7.24696 11 11.1295 14.6667 11.1295 18.3333H14.753C14.753 12.8333 9.0587 7.33333 3.62347 7.33333ZM22 18.3333H18.3765C18.3765 11 10.8704 3.66667 3.62347 3.66667V0C12.6822 0 22 7.33333 22 18.3333Z" fill="#81FF62"/>
                </g>
                <defs>
                <clipPath id="clip0_1_1357">
                <rect width="22" height="22" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <span>good</span>
                
        </div>
        <span class="column">145.825 Mhz</span>
        <span class="column">AFSK 1200</span>
        <span class="column timeframe-column">
            <span>2024-02-04 09:05:59</span>
            <span>2024-02-04 09:14:02</span>
        </span>
        <span class="column">Volkan Dagli</span>
        <span class="column">2012 - SPTF 234</span>
    </div>
    <span class="icon-column">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
            <g clip-path="url(#clip0_1_1413)">
            <path d="M2.75 12.3943L4.69425 10.45L8.2555 14.0099L17.3154 4.95L19.2596 6.89425L8.25412 17.8984L2.75 12.3943Z" fill="#81FF62"/>
            </g>
            <defs>
            <clipPath id="clip0_1_1413">
            <rect width="22" height="22" fill="white"/>
            </clipPath>
            </defs>
        </svg>  
    </span>
    <span class="icon-column"></span>
    <span class="icon-column"></span>
</div>